<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="web-6" style="left: 450px">
     <div class="h-t-2"><h2>历史显示</h2></div>
        <table class="h-tb-1" border='1'  width= '710px' height= '400px' style="border: #0d0d0d">
            <tr  style="border: 1px solid #000000;">
                <td><div class="h-l-1"></div></td>
                <td><div class="h-l-1">测量编号</div></td>
                <td><div class="h-l-1">处理池编号</div></td>
                <td><div class="h-l-1">数据名称</div></td>
                <td><div class="h-l-1">测量数值</div></td>
                <td><div class="h-l-1">测量时间</div></td>
            </tr>

{#            {% for item in a_ph %}#}
{#                {% if item. == 3 %}#}
{#                <tr>#}
{#                    <td><div class="h-l-1">{{ item.id }}次</div></td>#}
{#                    <td><div class="h-l-1">{{ item.id }}</div></td>#}
{#                    <td><div class="h-l-1">{{ item.cell }}</div></td>#}
{#                    <td><div class="h-l-1">{{ item.name_id }}</div></td>#}
{#                    <td><div class="h-l-1">{{ item.measure_nub }}</div></td>#}
{#                    <td><div class="h-l-1">{{ item.measure_at }}</div></td>#}
{#                </tr>#}
{#               {% endif %}#}
{##}
{#            {% endfor %}#}
        </table>
    </div>
</body>
</html>