{% extends 'base.html' %}
{% block title %}
    <title>历史查询</title>
{% endblock %}
{% block left %}
<form action="/analysis/history/" method="post">
    <div class="web-1" style="left: 0px">
		<div ><a href="/analysis/index/" class="page-1" style="
		            display:block;
		            {#left: 40px;#}
                    text-decoration: none;
                    width:150px;
                    height:150px;
                    border:1px solid #3bd8da;
                    background:#778899;
                    text-align: center;
                    line-height: 90px;
                "><h2>实时显示</h2></a></div>
		<div ><a href="/analysis/alert/" class="page-2"
                 style="display:block;
                    text-decoration: none;
                    width:150px;
                    height:150px;
                    border:1px solid #3bd8da;
                    background:#778899;
                    text-align: center;
                    line-height: 90px;
                    " >
                    <h2>报警管理</h2>
        </a></div>
		<div ><a href="/analysis/manage/" class="page-3" style="
		            display:block;
                    text-decoration: none;
                    width:150px;
                    height:150px;
                    border:1px solid #3bd8da;
                    background:#778899;
                    text-align: center;
                    line-height: 90px;">
            <h2>设备管理</h2></a></div>
		<div ><a href="" class="page-4" style="
		            display:block;
                    text-decoration: none;
                    width:150px;
                    height:150px;
                    border:1px solid #3bd8da;
                    background:#DA70D6;
                    text-align: center;
                    line-height: 90px;">
            <h2>历史查询</h2></a></div>
	</div>

    <div class="web-6" style="left: 450px">

       <div class="h-t-1"><h2>请查询历史记录</h2></div>
        <div>

         <label style="font-size: 23px;" class="h-s-1">请输入传感器号</label>
                 <input
                 type="text"
                 name="sendor"
                 value="{{ form.sendor.value | default_if_none:'' }}"
                 placeholder="如ph-1-1"
                 style="border:solid 1px;
                        height: 23px;
                        color: #0d0d0d;
                        text-overline-color:#0d0d0d ;
                        text-align: center"
                 />
                    {{ form.sendor.errors }}
             <input style="font-size: 80px; width: 120px; height: 50px;" type="submit" value="查询">

        </div>

        <div class="web-6" style="left: 0">
     <div class="h-t-2"><h2>历史显示</h2></div>
        <table class="h-tb-1" border='1'  width= '710px' height= '400px' style="border: #0d0d0d">
            <tr  style="border: 1px solid #000000;">

                <td><div class="h-l-1">测量编号</div></td>
                <td><div class="h-l-1">处理池编号</div></td>
                <td><div class="h-l-1">数据状态</div></td>
                <td><div class="h-l-1">测量数值</div></td>
                <td><div class="h-l-1">测量时间</div></td>
            </tr>

            {% for item in analysis %}

                <tr>

                    <td><div class="h-l-1">{{ item.0 }}</div></td>
                    <td><div class="h-l-1">{{ item.1 }}</div></td>
                    {% if item.2 == 0 %}
                        <td><div class="h-l-1">异常</div></td>
                    {% else %}
                        <td><div class="h-l-1">正常</div></td>
                    {% endif %}

                    <td><div class="h-l-1">{{ item.3 }}</div></td>
                    <td><div class="h-l-1">{{ item.4}}</div></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    </div>
</form>
{% endblock %}